.open {
  opacity: 0;
  transform: translateX(-100%);
  animation: fadeSlideIn 2s ease-in-out forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bottom-to-top {
  animation: bottomToTop 2s ease-out forwards;
  opacity: 0; 
}

