.navbar {
  backdrop-filter: blur(30px);
  box-shadow: 10px 10px 20px #dddddd55,
    -10px -10px 20px #111;
  position: relative;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar {
  animation: slideDown 2s ease-in-out;
}

.navbar a {
  position: relative;
  font: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.6s;
}

.navbar a:hover {
  color: #050801;
}

.navbar a:hover {
  background: #03e9f4;

  -webkit-box-reflect: below 1px
    linear-gradient(transparent, #0005);
}

/* From Uiverse.io by satyamchaudharydev */
/* === removing default button style ===*/
.heading {
  margin: 0;
  height: auto;
  color: white;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.heading {
  --border-right: 6px;

  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: white;
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid
    var(--animation-color);
  overflow: hidden;
  transition: 0.4s;
}
/* hover */
.heading:hover .hover-text {
  width: 100%;
}
